* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

header h1 {
    margin-bottom: 20px;
}

.promotion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #ffcc00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    z-index: 1000;
    border-radius: 8px;
    text-align: center;
}

.promotion-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.promotion p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.close-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: #cc0000;
}

.promotion.hidden {
    display: none;
}

nav ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul.menu li {
    margin: 0 15px;
}

nav ul.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
}

nav ul.menu li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.price-filter {
    margin: 20px;
    text-align: center;
}

.price-filter input[type="range"] {
    width: 80%;
    margin: 10px 0;
}

#priceValue {
    font-weight: bold;
}

.produs {
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.produs img {
    max-width: 100%;
    height: auto;
}


.produs-lista-container {
    display: flex;
    align-items: center;
    position: relative;
}

.produs-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.produs {
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.produs img {
    max-width: 100%;
    height: auto;
}

#basket {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

#basket i {
    font-size: 50px;
}

#basket p {
    margin-top: 10px;
}

#basket.droppable {
    background-color: #555;
}

.produs button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.produs button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 05px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@keyframes jump {
    0% { transform: translateY(0); }
    30% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    70% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

#basket-icon.jump {
    animation: jump 1s ease-in-out;
}

video {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin-bottom: 20px;
}